@{
    ViewBag.Title = "Home Page";
}

<html>
<body>
<div id="disablingScroll">
    <div id="backgroundindex" class="carousel slide">
        <div class="carousel-inner">
            <div class="active item twoo"></div>
            <div class="item two"></div>
            <div class="item three"></div>
        </div>
    </div>

    <div class="jumbotron" id="headliner" style="text-align: center;">
        <h1>People behind Connect<span style="color: rgb(0, 190, 190)">In</span></h1>
    </div>

    <div class="row aboutRow">
        <div class="thumbnail right-caption span4">
            <img class="photosabout" id="darri" src="~/Content/images/darrivol2.jpg" alt="Darri">
            <div class="caption">
                <h2>CEO</h2>
                <h4>The person in charge of a company who has no other qualifications but thinks he or she does. </h4>
                <p>Born in Iceland, Darri soon rose to power as the CEO of the most sucessful business in Iceland's history.</p>
            </div>
        </div>
    </div>
    <br/>
    <div class="row aboutRow">
        <div class="thumbnail right-caption span4">
            <img class="photosabout" id="dabbi" src="~/Content/images/Dabbi.jpg" alt="David">
            <div class="caption">
                <h2>Project Manager</h2>
                <h4>Gets all the credit</h4>
                <p>As Darri's best friend, David soon applied for work which he of course got and is a project manager of search team.</p>
            </div>
        </div>
    </div>
    <br/>
    <div class="row aboutRow">
        <div class="thumbnail right-caption span4">
            <img class="photosabout" src="~/Content/images/thor2.jpg" alt="Thor">
            <div class="caption">
                <h2>CTO</h2>
                <h4>Technical founder who really can't manage anyone</h4>
                <p>Recently graduated from University of Reykjavik applied for the position CTO and by showing of his foosball skills soon got hired. </p>
            </div>
        </div>
    </div>
    <br/>
    <div class="row aboutRow">
        <div class="thumbnail right-caption span4">
            <img class="photosabout" src="~/Content/images/logi2.jpg" alt="Logi">
            <div class="caption">
                <h2>Graphic designer</h2>
                <h4>Takes the credit</h4>
                <p>Got recruited after having gotten a reputation for his mad paint skills.</p>
            </div>
        </div>
    </div>
    <br/>
    <div class="row aboutRow">
        <div class="thumbnail right-caption span4">
            <img class="photosabout" class="span2" src="~/Content/images/janitor.jpg" alt="Janitor">
            <div class="caption">
                <h2>Janitor</h2>
                <h4>Specifies in cleaning our code up</h4>
                <p>Problably the most important person in the company. Works day and night and never gets paid. </p>
            </div>
        </div>
    </div>



</div>
</body>
</html>
