@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Menntavegur 1<br />
    Iceland, 101 Reykjavik<br />
    <abbr title="Phone">P:</abbr>
     1818
</address>

<address>
    <strong>Info:</strong>   <a href="mailto:Info@connectin.com">Info@connectin.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@connectin.com">Marketing@oncnectin.com</a>
</address>