@model IEnumerable<ConnectIn.Models.Entity.Post>

@{
    ViewBag.Title = "FriendsList";
}

<div class="container">
    <h1>Friends</h1>

        <div id="posts" class="row">
            <div id="1" class="post item span3">
                <div class="well">
                    <h4>
                        <a href="#" target="_blank">Ingþór</a>
                    </h4>
                    <img class="img-responsive img-thumbnail" src="http://i.imgur.com/3h6Ha2F.jpg" width="150px">
                    <div class="info">
                        <span class="badge">100</span>
                        <span class="badge">45</span>
                    </div>
                </div>
            </div>

            <div id="2" class="post item span3">
                <div class="well">
                    <h4>
                        <a href="#" target="_blank">Logi</a>
                    </h4>
                    <img class="img-responsive img-thumbnail" src="http://i.imgur.com/L3mgQUK.gif" width="150px">
                    <div class="info">
                        <span class="badge">100</span>
                        <span class="badge">45</span>
                    </div>
                </div>
            </div>

            <div id="3" class="post item span3">
                <div class="well">
                    <h4>
                        <a href="#" target="_blank">Jan</a>
                    </h4>
                    <img class="img-responsive img-thumbnail" src="http://i.imgur.com/6lIM3mM.jpg" width="150px">
                    <div class="info">
                        <span class="badge">100</span>
                        <span class="badge">45</span>
                    </div>
                </div>
            </div>

            <div id="4" class="post item span3">
                <div class="well">
                    <h4>
                        <a href="#" target="_blank">Davíð</a>
                    </h4>
                    <img class="img-responsive img-thumbnail" src="http://i.imgur.com/c3St7Ub.png" width="150px">
                    <div class="info">
                        <span class="badge">100</span>
                        <span class="badge">45</span>
                    </div>
                </div>
            </div>

            <div id="5" class="post item span3">
                <div class="well">
                    <h4>
                        <a href="#" target="_blank">Darri</a>
                    </h4>
                    <img class="img-responsive img-thumbnail" src="http://i.imgur.com/lnguEHI.jpg" width="150px">
                    <div class="info">
                        <span class="badge">100</span>
                        <span class="badge">45</span>
                    </div>
                </div>
            </div>

            <div id="6" class="post item span3">

                <div class="well">
                    <h4>
                        <a href="#" target="_blank">Köttur</a>
                    </h4>
                    <img class="img-responsive img-thumbnail" src="http://i.imgur.com/uxxuHrc.jpg" width="150px">
                    <div class="info">
                        <span class="badge">120</span>
                        <span class="badge">46</span>
                    </div>
                </div>
            </div>
    </div>
</div>

