@model IEnumerable<ConnectIn.Models.Entity.Post>

@{
    ViewBag.Title = "FriendsList";
}

<div class="container">
    <h1>Friends</h1>

    <div id="posts" class="row">
        <div id="1" class="post item span3">
            <div class="well FriendsListWell">
                <div class="friendsListPhoto">
                    <img class="img-responsive img-rounded pull-left" src="http://i.imgur.com/3h6Ha2F.jpg">
                </div>

                <div class="friendsListAbout">
                    <div class="friendsListName">
                        <h4>
                            <a href="#" target="_blank" class="profileNameLink">Ingþór</a>
                        </h4>
                    </div>
                    <table class="tableFriends">
                        <tbody>
                            <tr>
                                <td class="glyphicon glyphicon-briefcase tableItem">
                                    Work
                                </td>
                                <td class="glyphicon workFriendsList tableItemInfo">
                                    McDonalds drivethu expert
                                </td>
                            </tr>
                            <tr>
                                <td class="glyphicon glyphicon-envelope tableItem">
                                    School
                                </td>
                                <td class="glyphicon schoolFriendsList tableItemInfo">
                                    School of life
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <div id="2" class="post item span3">
            <div class="well FriendsListWell">
                <div class="friendsListPhoto">
                    <img class="img-responsive img-rounded pull-left" src="http://i.imgur.com/L3mgQUK.gif">
                </div>

                <div class="friendsListAbout">
                    <div class="friendsListName">
                        <h4>
                            <a href="#" target="_blank" class="profileNameLink">Logi</a>
                        </h4>
                    </div>
                    <table class="tableFriends">
                        <tbody>
                            <tr>
                                <td class="glyphicon glyphicon-briefcase tableItem">
                                    Work
                                </td>
                                <td class="glyphicon workFriendsList tableItemInfo">
                                    McDonalds drivethu expert
                                </td>
                            </tr>
                            <tr>
                                <td class="glyphicon glyphicon-envelope tableItem">
                                    School
                                </td>
                                <td class="glyphicon schoolFriendsList tableItemInfo">
                                    School of life
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div id="3" class="post item span3">
            <div class="well FriendsListWell">
                <div class="friendsListPhoto">
                    <img class="img-responsive img-rounded pull-left" src="http://i.imgur.com/6lIM3mM.jpg">
                </div>

                <div class="friendsListAbout">
                    <div class="friendsListName">
                        <h4>
                            <a href="#" target="_blank" class="profileNameLink">Jan</a>
                        </h4>
                    </div>
                    <table class="tableFriends">
                        <tbody>
                            <tr>
                                <td class="glyphicon glyphicon-briefcase tableItem">
                                    Work
                                </td>
                                <td class="glyphicon workFriendsList tableItemInfo">
                                    McDonalds drivethu expert
                                </td>
                            </tr>
                            <tr>
                                <td class="glyphicon glyphicon-envelope tableItem">
                                    School
                                </td>
                                <td class="glyphicon schoolFriendsList tableItemInfo">
                                    School of life
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



