@using Microsoft.AspNet.Identity
@model ConnectIn.Models.ViewModels.PhotoAlbumViewModel

@{
    ViewBag.Title = "Images";
}

<h2>Images</h2>

<div class="row">
    @foreach (var item in Model.Images)
    {
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
                <img src="@item.ImagePath" alt="userPhoto" />
            </a>
        </div>
    }
</div>

@if (Model.UserId == User.Identity.GetUserId())
{
    <div>
        @using (Html.BeginForm("UploadImage", "Home", FormMethod.Get))
        {
            <input type="hidden" name="userId" value="@Model.UserId"/>
            <button type="submit" class="btn btn-primary">Upload Photo</button>
        }
    </div>
}

