@{
    ViewBag.Title = "Home page";
}
<body>

    <div id="backgroundindex" class="carousel slide">
        <div class="carousel-inner">
            <div class="active item one"></div>
            <div class="item two"></div>
            <div class="item three"></div>
        </div>
    </div>
    <div id="Indextext" >
        <h2>ConnectIn</h2>
        <p>This is a social network created by students of HR for a project. With the goal to create a community for people to be welcomed and safe.
         <br />We won't share valuable information to corporations, we offer security and fun. What we offer are to create groups with friends, post status on your wall and follow your friends.</p>
        <p>Forgot your friends birthday?  Don't worry at ConnectIn you can follow who's birthday it is today.</p>
    </div>
</body>