@{
    ViewBag.Title = "Home page";
}
<body>

    <div id="backgroundindex" class="carousel slide">
        <div class="carousel-inner">
            <div class="active item one"></div>
            <div class="item two"></div>
            <div class="item three"></div>
        </div>
    </div>
    <div id="Indextext" class="well" style="border-radius: 20px; margin-top: 20px; margin-right: 50px; margin-left: 50px;">
        <h2>Connect<span style="color: rgb(0, 190, 190)">In</span></h2>
        <p>This is a social network based in the cellar at Reykjavik University. With the goal to create a community for people to be welcomed and getting people closer together through communicating.
         <br />We won't share valuable information to corporations, we offer security and fun. What we offer are communicating with friends in many ways, by posting photos or updates to your news feed. You can also create groups for more restricted communications.</p>
        <p>Forgot your friends birthday?  Don't worry, at ConnectIn you can follow who's birthday it is today.</p>
    </div>
</body>