@model ConnectIn.Models.ViewModels.NewsFeedViewModel

@{
    ViewBag.Title = "NewsFeed";
}
@if (Request.IsAuthenticated)
{ 
    <h2>News Feed</h2>

    <!--Filters for the news feed-->

    <!--<ul class="nav nav-justified newsFeedFilters">
        <li><a href="#">Everyone</a></li>
        <li><a href="#">Best friends</a></li>
        <li><a href="#">Family</a></li>
    </ul>-->

    <div class="nav nav-justified newsFeedFilters" style="margin-bottom: 25px; margin-top: 25px; ">
        <div class="pull-right">
            <div class="btn-group btn-group-justified movie-views" data-toggle="buttons">
                <label class="btn btn-default active">
                    <input type="radio" name="options" id="option1" autocomplete="off" value="Everyone" checked> Everyone
                </label>
                <label class="btn btn-default">
                    <input type="radio" name="options" id="option2" autocomplete="off" value="BestFriends"> Best Friends
                </label>
                <label class="btn btn-default">
                    <input type="radio" name="options" id="option3" autocomplete="off" value="Family"> Family
                </label>
            </div>
        </div>
    </div>

    <div>
        @using (Html.BeginForm("AddPost", "Status"))
        {
            <div class="form-horizontal">
                <!--Notifies the StatusController that the post comes from NewsFeed:-->
                <input type="hidden" name="location" value="newsfeed" id="statusFromNewsFeed"/>
                <textarea placeholder="Share your thoughts" class="form-control" rows="5" id="newsfeedstatus" name="status" style="max-width: 100%; display: inline"></textarea>
                <button type="submit" id="submitstatus" class="btn btn-primary" style="float: right; margin-top: 10px;">Submit</button>
            </div>
            @Html.ValidationSummary(false)
        }
    </div>
    
    {
        Html.RenderPartial("PostsPartial", Model);
    }
}
else
{
    <h1 id="loginSignUpMessage">
        Please log in or sign up to access your News Feed.
    </h1>
}
