@model IEnumerable<ConnectIn.Models.ViewModels.GroupListViewModel>

@{
    ViewBag.Title = "GroupsList";
}

<h2>Your groups</h2>

<p id="createNewGroup">
    <span class="glyphicon glyphicon-plus"></span>
    @Html.ActionLink("Create New", "Create")
</p>

    
@foreach (var item in Model) {

    <div class="well">
        <span>
            <h2>@Html.ActionLink(item.Name, "Details", new { id = item.GroupId })</h2>
        </span>
        
        <span id="groupWell">
            @Html.ActionLink("Edit", "Edit", new { id = item.GroupId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.GroupId })
        </span>
    </div>
}


