
@model IEnumerable<ConnectIn.Models.ViewModels.CommentViewModel>
@{
    ViewBag.Title = "Comment";
}
@if (Request.IsAuthenticated)
{
    <h2>Comments</h2>
    

    <div class="container">
        <div id="posts" class="row">
            @foreach (var item in Model)
            {
                <div>
                    @using (Html.BeginForm("AddComment", "Status"))
                    {
                        <div class="form-horizontal">
                            <!--Notifies the StatusController that the post comes from NewsFeed:-->
                            <input type="hidden" name="postId" value="@item.PostId" />
                            <input type="hidden" name="location" value="newsfeed" id="statusFromNewsFeed" />
                            <textarea placeholder="Comment..." class="form-control" rows="5" id="newsfeedstatus" name="status" style="max-width: 100%; display: inline"></textarea>
                            <button type="submit" id="submitstatus" class="btn btn-primary" style="float: right; margin-top: 10px;">Submit</button>
                        </div>
                        @Html.ValidationSummary(false)
                    }
                </div>
            }
        </div>
    </div>

}