@model ConnectIn.Models.ViewModels.PhotoViewModel

@{
    ViewBag.Title = "CropCoverPhoto";
}

<h2>CropCoverPhoto</h2>

<div class="cropContainer">
    <div>
        <img id="cropPhoto" src="@Model.PhotoPath" />
    </div>
    <div class="cropBtnContainer">
        @using (Html.BeginForm("CropImage", "Photo", FormMethod.Post, new { id = "cropForm" }))
        {
            <input type="hidden" id="location" name="location" value="cover" />
            <input type="hidden" id="photoId" name="photoId" value="@Model.PhotoId" />
            <input type="hidden" id="imageCropWidth" name="imageCropWidth" value="">
            <input type="hidden" id="imageCropHeight" name="imageCropHeight" value="">
            <input type="hidden" id="cropPointX" name="cropPointX" value="">
            <input type="hidden" id="cropPointY" name="cropPointY" value="">
            <button type="submit" class="btn btn-primary btn-crop">Crop Photo</button>
        }
    </div>
</div>
@section scripts{

    <script type="text/javascript">

        var imageCropWidth = 0;
        var imageCropHeight = 0;
        var cropPointX = 0;
        var cropPointY = 0;

        $(document).ready(function () {
            initCrop();
        });

        function initCrop() {
            $("#cropPhoto").Jcrop({
                onChange: setCoordsAndImgSize,
                aspectRatio: 1140 / 305,
                boxWidth: 1140,
                boxHeight: 370
            });
        }

        $(".btn-crop").attr("disabled", true);

        function setCoordsAndImgSize(e) {

            imageCropWidth = e.w;
            imageCropHeight = e.h;

            cropPointX = e.x;
            cropPointY = e.y;

            document.getElementById("imageCropWidth").value = imageCropWidth;
            document.getElementById("imageCropHeight").value = imageCropHeight;
            document.getElementById("cropPointX").value = cropPointX;
            document.getElementById("cropPointY").value = cropPointY;
            $(".btn-crop").attr("disabled", false);
        }

    </script>
}
