
@{
    ViewBag.Title = "UploadImage";
}

<h2>UploadImage</h2>

@using (Html.BeginForm("UploadImage", "Photo", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <legend> Upload Image </legend>
    <label for="Image">Image</label>
    <input type="file" name="Image" />
    <br />

    <button type="submit" class="btn btn-primary">Upload</button>
}


