body {
    padding-top: 50px;
    padding-bottom: 20px;

    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-right: 15px;
}

/*About*/
.photosabout {
    max-height: 200px;
    max-width: 200px;
}
#darri
{
    width:200px;
    height:auto;
}
#dabbi
{
    width:200px;
    height:auto; 
}
.row
{
    padding-left:12px;
}
.caption
{
    width:600px;
}
#aboutinfo
{
    resize:none;
}
#headliner
{
        background-image: url("/Content/Images/background.jpg");
}
#headliner > p
{
    color:white;
}
#headliner > h1
{
    color:white;
}
.thumbnail.right-caption > img {
    float: left;
    margin-right: 9px;
}

.thumbnail.right-caption {
    float: left;
}

.thumbnail.right-caption > .caption {
    padding: 4px;
}


/*Homepage*/
#Indextext
{
    text-align:center;
    
}
.carousel
{
  z-index:-99;
  overflow:hidden;
}
.carousel .item{

position:fixed;
width:100%;
height:100%;
-webkit-transition:opacity 1s;
-moz-transition: opacity 1s;
-ms-transition:opacity 1s;
-o-transition: opacity 1s;
transition: opacity 1s;
overflow:hidden;
}
.carousel .one{
    background-image: url("/Content/Images/party.jpg");
    background-size:cover;
    -moz-background-size:cover;
}
.carousel .active.left{
    left:0;
    opacity:0;
    z-index:2;
}

#agesmall {
  float: right!important;
  font-size: 15px;
  margin-top: 16px;
  margin-right: -41px;
}

.containers {
    width: 200px;
    height: 120px;
}

/* resize images */
.containers img {
    width: 100%;
    height: auto;
}

.search-form-control {
  display: block;
  width: 83%;
  margin-top: 20%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

#huge {
  float: right!important;
  font-size: 52px;
  margin-right: 25px;
}

.container .carouselphotos
{
max-height:455px;
width:40%;
}
/* Set width on the form input elements since they're 100% wide by default */
#newsfeedstatus
{
    height:83px;
    width:1140px;
    outline:none;
    resize:none;
    overflow:auto;
 
  
   
}
#submitstatus
{
    margin-left:1080px;
}
/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #222;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    margin-top: 30px;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
        /* padding-left: 50px; */
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        overflow:hidden;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
/* ENDOF Simple Sidebar Template*/

.sidebarGlyphs {
    color: white;
    float: left;
    margin-top: 10px;
}

a.navbar-brand
{
  background: url(../Content/Images/Cinlogolol.png) no-repeat;
  background-size: contain;
  display: block;
  margin: 10px;
  float:left;
  outline: none;
  overflow: hidden;
  white-space: nowrap;
  text-indent: -9999px; /* hides the link text */
}

.smileyFace {
  background: url(../Content/Images/iconHappy.ico) no-repeat;
  background-size: contain;
  display: block;
  margin: 10px;
  float:left;
  outline: none;
  overflow: hidden;
  white-space: nowrap;
}

.newsFeedFilters {
    margin-bottom: 20px;
}

.newsFeedFilters li {
    font-weight: bold;
    font-size: 17px;
}

#commentsLikesDeleteDiv {
    border-top: solid rgb(228, 228, 228) 1px;
    margin-top: 60px;
}

#reactionButtons {
    padding-top: 20px
}

.deletePostButton {
    float: right;
}

.btn-default-like {
    background-image: url("/Content/Images/smileySMALL.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    float:left;
    outline: none;
    overflow: hidden;
    white-space: nowrap;
    text-indent: 20px;
}
.btn-default-dislike {
    background-image: url("/Content/Images/sadfaceSMALL.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    float:left;
    outline: none;
    overflow: hidden;
    white-space: nowrap;
    text-indent: 20px;
}
.btn-default-comment {
    background-image: url("/Content/Images/commentSMALL.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    float:left;
    outline: none;
    overflow: hidden;
    white-space: nowrap;
    text-indent: 35px;
}
#reactionButtons {
    padding-bottom: 40px;
    font-size: 100%;
    
}
#profileHeader {
    
}

#profileborder {
    border-top: solid rgb(228, 228, 228) 1px;
    margin-bottom: 20px
}

#userNameOnProfile {
    display: inline-block;
}

#userProfilePicture {
    display: inline-block;
    float: left;
    width: 250px;
    height: auto;
    max-height: 250px;
    margin-right: 15px;
}

.personalInfoGlyphs {
    display: inherit;
    margin-bottom: 4px;
    font-size: 17px;
    
}

#addFriendButton {
    display: inline-block;
    float: right;
}
.friendsListName {
    display: block;
    font-size: 25px;
}
#ProfileWell {
    overflow: hidden;
    height: auto;
    margin: 20px;
}
#FriendsListWell{
    overflow: hidden;
    height: auto;

}

.friendsListPhoto {
    display: inline-block;
    width: 200px;
    height: auto;
    max-height: 200px;
    float: left;
    margin-right: 15px;
}

.tableFriends{
    font-size: 16px;

}
.glyphicon {
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif,'Glyphicons Halflings';

}
.tableItem {
    font-weight: bold;
    width: 100px;

}
.tableItemInfo {
}

.profileNameLink {
    font-size: 25px
}


.img-responsive, img-rounded {
    max-height: 200px;
    max-width: 200px;
}

#groupWell {
    float: right;
    position: relative;
    bottom: 36px;
}

#createNewGroup {
    float: right;
    position: relative;
    bottom: 34px;
    right: 22px;
}

.bottomRightButtonRight {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.bottomRightButtonLeft {
    position: absolute;
    bottom: 20px;
    right: 120px;
}

#logOutDropdownOption {
    position: relative;
    left: 7px;
    bottom: 12px;
}

.PartialViewResponsive {
    display: block;
    height: auto;
    max-width: 100%;
    max-height: 100px;
    max-width: 100px;
}
.PostPartialViewPhoto {
    display: inline-block;
    width: 100px;
    height: auto;
    max-height: 100px;
    float:left;
    margin-right: 15px;
}
#PartialPostsText {
    display: inline-block;
}

.btnNew {
  display: inline-block;
  background-color: transparent;
  padding: 6px 12px;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  border: 1px solid transparent;
}
