/**************************************Containers**************************************/

body {
    padding-top: 50px;
    padding-bottom: 20px;

    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-right: 15px;
}

.containers {
    width: 200px;
    height: 120px;
}

/* resize images */
.containers img {
    width: 100%;
    height: auto;
}

.container .carouselphotos
{
max-height:455px;
width:40%;
}

/**************************************Containers END**************************************/



/**************************************Profile**************************************/

#profileborder {
    border-top: solid rgb(228, 228, 228) 1px;
    margin-bottom: 35px;
    margin-top: 35px;
}

#userNameOnProfile {
    display: inline-block;
    margin-top: 30px;
}

#userNameH1 {
    color: white; 
    float: left;
    margin-left: 30px;
}

#coverphoto
{
    width:auto;
    height:100%;
}

#userProfilePicture {
    width: 200px; 
    height: 200px; 
    padding-top: 10px; 
    padding-left: 30px;
    display: block;
    margin-right: 0;
}

.coverPhotoProfile {
    height: 305px; 
    width: 1140px; 
    padding: 0 0;
    clear: both; 
    margin-left: 0; 
    margin-right: 0;
    background: no-repeat; 
    background-size: 100%; 
}

.coverPhotoGradient {
    background: url(/Content/Images/blackGradient.png) bottom left repeat-x; 
    /*border-bottom-color: rgba(0,0,0,.4);*/
}

.img-responsiveProfilePic {
    max-width: 200px;
    max-height: 200px;
    height: 200px;
    width: 200px;
}

.personalInfoGlyphs {
    display: inherit;
    margin-bottom: 4px;
    font-size: 17px;
    
}

.profileStars {
    margin-top: 200px;
    margin-right: 15px;
}

#PhotoButton {
    display: inline;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    float: left;
}

.btn.fa.fa-camera.btn-primary {
        padding: 3px 4px;
}

#bffamimg {
    width: 28px;
}

.btn-default-clicked {
    background-image: none;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    float:left;
    outline: none;
    overflow: hidden;
    white-space: nowrap;
    text-indent: 20px;
}

.dangerFix {
    margin-left: 85px;
}

#addFriendButton {
    margin-left: 25px;
    margin-top: 25px;
    margin-right: 25px;
}

#ProfilePostWell {
    overflow: hidden;
    min-height:60px;
    height: auto;
    width: auto;
    min-width: 575px;
}

#aboutUser {
    display: inline-block;
    width: auto;
    max-width: 500px;
    float: left;
    margin-top: 0;
    margin-right: 15px;
}

p.clear {
    clear: both;
}

.img-responsive, img-rounded {
    max-height: 200px;
    max-width: 200px;
}

.btnNew {
  display: inline-block;
  background-color: transparent;
  padding: 6px 0;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  border: 1px solid transparent;
}

/**************************************Profile END**************************************/



/**************************************About**************************************/

.aboutRow {
    min-width: 600px;
}

.photosabout {
    max-height: 200px;
    max-width: 200px;
}

#darri {
    width:200px;
    height:auto;
}

#dabbi {
    width:200px;
    height:auto; 
}

div.thumbnail.right-caption.span4 {
    width: 100%;
}

#aboutinfo{
    resize:none;
}

#headliner {
    /*background-image: url("/Content/Images/background.jpg");*/
    background-color: rgb(34, 34, 34);
    text-align: center;
    max-width: 112.85%;
    margin-right: -14%;
    margin-left: -10%;
    border-radius: 0;
}

#headliner > p {
    color:white;
}

#headliner > h1 {
    color:white;
}

.thumbnail.right-caption > img {
    float: left;
    margin-right: 9px;
}

.thumbnail.right-caption {
    float: left;
}

.thumbnail.right-caption > .caption {
    padding: 4px;
}

/**************************************About END**************************************/



/**************************************Homepage**************************************/

#Indextext {
    text-align:center;
}

.carousel {
  z-index:-99;
  overflow:hidden;
}

.carousel .item {
    position:fixed;
    width:100%;
    height:100%;
    -webkit-transition:opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition:opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
    overflow:hidden;
}
.carousel .one {
    background-image: url("/Content/Images/party.jpg");
    background-size:cover;
    -moz-background-size:cover;
}

.carousel .active.left {
    left:0;
    opacity:0;
    z-index:2;
}

/**************************************Homepage END**************************************/



/**************************************Birthday**************************************/

#birthdayMarginAgeAbsolute {
    position: absolute;
    bottom: 10px;
    right: 20px;
}

#birthdayBubble {
    position:absolute;
    top: 2px;
    right:14px;
    padding:1px 2px 1px 2px;
    background-color:red; 
    color:white;
    font-weight:bold;
    font-size:0.55em;
    border-radius:30px;
    display: none;
}

#huge {
    font-size: 52px;
    margin-right: 25px;
}

/**************************************Birthday END**************************************/



/**************************************Notifications**************************************/

#notificationBubble {
    position:absolute;
    top: 2px;
    right:14px;
    padding:1px 2px 1px 2px;
    background-color:red; 
    color:white;
    font-weight:bold;
    font-size:0.55em;
    border-radius:30px;
    display: none;
}

.bottomRightButtonRight {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.bottomRightButtonLeft {
    position: absolute;
    bottom: 20px;
    right: 120px;
}

/**************************************Notifications END**************************************/



/**************************************Comments**************************************/

#CommentPostWell {
    overflow: auto;
    min-height:100px;
    height: auto;
    width: auto;
    min-width: 575px;
}

#commentstatus {
    height:100px;
    max-width: 65%;
    outline:none;
    resize:none;
    overflow:auto;
}

.commentform-control {
    display: inline;
    width: 75%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
            transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.commentwell {
    width: 75%;
    margin-left: 12.5%;
}

.commentss {
  margin-left: 20px;
  margin-top: 2px;
}

#submitcomment {
    margin: 16px;
}

/**************************************Comments END**************************************/



/**************************************Statuses**************************************/

.form-horizontal {
    margin-left: 12.5%;
}

.smileyFace {
  background: url(../Content/Images/iconHappy.ico) no-repeat;
  background-size: contain;
  display: block;
  margin: 10px;
  float:left;
  outline: none;
  overflow: hidden;
  white-space: nowrap;
}

.newsFeedFilters {
    margin-bottom: 20px;
}

.newsFeedFilters li {
    font-weight: bold;
    font-size: 17px;
}

#commentsLikesDeleteDiv {
    border-top: solid rgb(228, 228, 228) 1px;
    margin-top: 20px;
}

#reactionButtons {
    padding-top: 20px
}

.deletePostButton {
    float: right;
}

.settingsform {
    margin-left: -7.5%;
}

#likedislikeimg {
  width: 28px;
}

/* Set width on the form input elements since they're 100% wide by default */
#newsfeedstatus {
    height:100px;
    max-width: 65%;
    outline:none;
    resize:none;
    overflow:auto;
}

.btn-default-like {
    background-image: url("/Content/Images/smileySMALL.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    float:left;
    outline: none;
    overflow: hidden;
    white-space: nowrap;
    text-indent: 20px;
}

.btn-default-dislike {
    background-image: url("/Content/Images/sadfaceSMALL.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    float:left;
    outline: none;
    overflow: hidden;
    white-space: nowrap;
    text-indent: 20px;
}

.btn-default-comment {
    background-image: url("/Content/Images/commentSMALL.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    float:left;
    outline: none;
    overflow: hidden;
    white-space: nowrap;
    text-indent: 35px;
}

#reactionButtons {
    padding-bottom: 40px;
    font-size: 100%;
    
}

/**************************************Statuses END**************************************/



/**************************************Settings**************************************/

#privacyimg {
  padding-left: -13px;
  height: 40px;
  padding-bottom: 7px;
  padding-right: 18px;
}

button.btnNew.privacy {
  outline: none;
}

/**************************************Settings END**************************************/



/**************************************FriendsList**************************************/

#removeFriendButtonFriendsListAbsolute {
    position: absolute;
    bottom: 85px;
    right: 20px;
}

#bfOrFamilyFriendsListAbsolute {
    position: absolute;
    bottom: 0px;
    right: 20px;
}

#removeFriendButtonFriendsList {
    margin-left: 200px;
}

#bfOrFamilyFriendsList {
    height: 35px;
    width: 250px;
    margin-left: 85px;
    margin-top: 30px;
}


.friendsListName {
    margin-top: 0px;
}

#FriendsListWell {
    overflow: hidden;
    height: auto;
    margin-bottom: 20px;
}

.friendsListPhoto {
    display: inline-block;
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 15px;
}

.tableFriends {
    font-size: 16px;
}

.glyphicon {
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif,'Glyphicons Halflings';
}

.tableItem {
    font-weight: bold;
    width: 100px;
}

/**************************************FriendsList END**************************************/



/**************************************PartialView**************************************/

.PartialViewResponsive {
    display: inline-block;
    height: auto;
    max-height: 100px;
    max-width: 100px;
}

.PostPartialViewPhoto {
    display: inline-block;
    width: 100px;
    height: 100px;
    max-height: 100px;
    float:left;
    margin-right: 15px;
    margin-top: auto;
    margin-bottom: auto;
}

#PartialPostsText {
    display: block;
}

/**************************************PartialView END**************************************/



/**************************************NewsFeed**************************************/

#newsfeedProfilePhoto {
    width: 100px;
    height: auto;
    max-height: 100px;
    margin-right: 15px;
}

.newsfeedViewResponsive {
    display: block;
    height: auto;
    max-height: 100px;
    max-width: 100px;
}

#newsfeedstatus {
    max-width: 65%;
    display: inline-block;
}

.NewsFeedContainer {
    margin-bottom: 20px;
}

#submitNewsFeedStatus {
    margin: 16px;
}

#submitstatus {
    margin: 10px;
}

/**************************************NewsFeed END**************************************/



/**************************************NavBarTop**************************************/

a.navbar-brand {
  background: url(../Content/Images/Cinlogolol.png) no-repeat;
  background-size: contain;
  display: block;
  margin: 10px;
  float:left;
  outline: none;
  overflow: hidden;
  white-space: nowrap;
  text-indent: -9999px; /* hides the link text */
}

.navbar-nav>li>.dropdown-menu {
  margin-top: 51px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-color: #101010;
  background-color: #222;
  width: 27px;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    margin-top: 30px;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

.logoffs {
  padding-left: 16px;
}

.nav-logout {
    margin-top: 50px;
}

/**************************************Dropdown fix on half screen**************************************/
@media (max-width: 767px) {

    .dropdown-menu.nav.sidebar-nav > li.notLogOut {
            line-height: 20px;
                  padding-left: -10px;

    }

    .dropdown-menu.nav.sidebar-nav > li.notLogOut:hover {
        background-color: rgba(255,255,255,0.2);;
    }
}
/**************************************Dropdown fix on half screen END**************************************/
/**************************************NavBarTop END**************************************/



/**************************************Sidebar**************************************/
/*Sidebar layout source: http://codepen.io/JFarrow/pen/fFrpg */
@import url(netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

@import url(http://fonts.googleapis.com/css?family=Titillium+Web:300);
.fa-2x {
    font-size: 2em;
}
.fa {
    position: relative;
    display: table-cell;
    width: 60px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size:20px;
}


.main-menu:hover,nav.main-menu.expanded {
    width:250px;
    overflow:visible;
}

.main-menu {
    display: block;
    border-color: #101010;
    background-color: #222;
    position:fixed;
    height:100%;   
    left:0;
    width:60px;
    overflow:hidden;
    -webkit-transition:width .05s linear;
    transition:width .05s linear;
    -webkit-transform:translateZ(0) scale(1,1);
    z-index:1000;
}

.main-menu>ul {
    margin:7px 0;
}

.main-menu li {
    position:relative;
    display:block;
    width:250px;
}

.main-menu li>a {
    position:relative;
    display:table;
    border-collapse:collapse;
    border-spacing:0;
    color:#999;
     font-family: arial;
    font-size: 14px;
    text-decoration:none;
    -webkit-transform:translateZ(0) scale(1,1);
    -webkit-transition:all .1s linear;
    transition:all .1s linear;
}

.main-menu .nav-icon {
    position:relative;
    display:table-cell;
    width:60px;
    height:36px;
    text-align:center;
    vertical-align:middle;
    font-size:18px;
}

.main-menu .nav-text {
    position:relative;
    display:table-cell;
    vertical-align:middle;
    width:190px;
    font-family: 'Titillium Web', sans-serif;
}

.main-menu>ul.logout {
    position:absolute;
}

.no-touch .scrollable.hover {
    overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
    overflow-y:auto;
    overflow:visible;
}

a:hover,a:focus {
    text-decoration:none;
}

nav {
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    -o-user-select:none;
    user-select:none;
}

nav ul,nav li {
    outline:0;
    margin:0;
    padding:0;
}

.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
    color:#fff;
    background-color: rgba(255,255,255,0.2);

}

.search-form-control {
    display: inline-block;
    padding: 4px 16px;
    margin-left: -23px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.searchHover {
    color: #999;
    margin-top: 25px;
    margin-bottom: 5px;
}

.searchHover:hover {
    color: #fff;
    margin-top: 25px;
    margin-bottom:5px;
}

.main-menu ul a:visited {
    color: #999;
}

.bffam {
    top: 2px;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: bold;
    line-height: 1;
    margin-left: -13px;
}

.main-menu ul a:hover {
    color: #fff;
}

.area {
    float: left;
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 300;
    src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}

.searchHover {
    cursor: default;
}

.fa.fa-power-off.fa-2.faLogOut {
    display: inline;
    padding-right: 22px;
    padding-left: 14px;
    width:100%;
    overflow:visible;
}

/**************************************Sidebar END**************************************/



/**************************************Images**************************************/

.btnUpload {
    float: right;
}

.btnProfile {
    float: left;
}

.btnCover {
    float: left;   
}

.btnDelete {
    float:left;
    margin-left: 20px;
}

.text-box.single-line{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
            transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.preReset {
    border: 0;
    display: inline-block;
	font-weight: normal;
	font-style: normal;
	font-size: 100%;
	font-family: sans-serif;
    text-align:left;
    height: auto;
    width: 75%;
    margin: 0;
}

span.more {
    display: none;
}

span.less {
    display: none;
}

div.ellipsis-text {
    max-height: 100px;
}

.fakeLink {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.profilePhotoThumbnails {
    width: 225px;
    height: 225px;
}

.coverPhotoThumbnails {
    width: 570px;
    height: 180px;
}

.profilePhotos {
    width: 175px;
    height: 175px;
}

.smallPhoto {
    width: 100px;
    height: 100px;
}

.coverPhotos {
    width: 684px;
    height: 183px;
}

.photoContainer {
    padding-bottom: 10px;
}

.profileCoverDivider {
    padding-bottom: 20px;
}

#profilePhotoContainer {
    min-height: 50px;
}

#coverPhotoContainer {
    min-height: 50px;
}

span.thumbnail:hover,
span.thumbnail:focus {
    border-color: #428bca;
}

span.thumbnail-photo {
    border: 4px solid #ddd;
}

.selected-photo {
    border: 4px solid #428bca;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.btn-crop {
    float: right;
}

.cropContainer {
    padding-bottom: 40px;
}

.cropBtnContainer {
    padding-top: 50px;
}

#registerColumns {
    position: relative;
    right: 111px;
}

/**************************************Images END**************************************/



/**************************************Errors**************************************/

.field-validation-error
{
    color:red;
    margin-left:10px;
}

#error2
{
    padding-left:40px;
}

/**************************************Errors END**************************************/